
@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneuebold.woff") format("woff");
    font-weight: bold; 
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneuebook.woff") format("woff");
    font-weight: 350; 
} 

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneuelight.woff") format("woff");
    font-weight: 300; 
} 

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneueregular.woff") format("woff");
    font-weight: 400; 
} 


@font-face {
    font-family: "Roboto";
    src: url("fonts/Jost-Regular.woff") format("woff");
    font-weight: 400; 
} 

@font-face {
    font-family: "Roboto";
    src: url("fonts/Jost-Black.woff") format("woff");
    font-weight: 900; 
} 

@font-face {
    font-family: "Roboto";
    src: url("fonts/Jost-Bold.woff") format("woff");
    font-weight: 700; 
} 

@font-face {
    font-family: "Roboto";
    src: url("fonts/Jost-Light.woff") format("woff");
    font-weight: 300; 
} 

@font-face {
    font-family: "Roboto";
    src: url("fonts/Jost-Regular.woff") format("woff");
    font-weight: 500; 
} 

@font-face {
    font-family: "Roboto";
    src: url("fonts/Jost-Thin.woff") format("woff");
    font-weight: 100; 
} 