@media (max-width: 1200px) {

    .our_team .team_members_container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .museums .museum_container .museum_descr .button{
        width: 100%;
        text-align: center;
    }

    .museums .museum_container .museum_img{
        width: 100%;
    }

    .museums .museum_container:nth-child(odd) .museum_descr{
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: unset;
        right: 0;
        left: 0;
    }

    .museums .museum_container .museum_descr{
        position: relative;
        width: 100%;
        height: unset;
        max-width: 100%;
        right: 0;
        left: 0;
        min-height: unset;
    }

    .slider_container .swiper-slide .images_container .item_pic:nth-child(n + 2){
        display: none;
    }

    .slider_container .swiper-slide .images_container .item_pic:nth-child(1){
        width: 100%;
    }

    .slider_container_with_thumbs{
        display: block;
    }
    
    footer .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
/* 
    footer .logo_contacts{
        grid-column: 1 / 2;
    }

    footer #vk_groups1{
        grid-column: 3 / 4;
    }
    footer #vk_groups2{
        grid-column: 5 / 6;
    }*/
    footer #vk_groups3{
        grid-column: 2 / 3;
    }
    footer #vk_groups4{
        grid-column: 3 / 4;
    } 

    .artefacts_by_mueum .artefacts_container .artefact_pic{
        width: calc(50% - 30px);
    }
}

@media (max-width: 1100px) {

    

    .certain_artefact .specification ul li{
        grid-template-columns: 1fr
    }

    .certain_artefact .specification ul li .dotted_line{
        display: none;
    }

    .burger_menu {
        display: block;
    }

    header .container{
        padding: 20px 15px;
    }

    header .container .menu .menu_items_container{
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 0 25px;
        left: 0;
        top: 0;
        background-color: rgba(9, 14, 13, 0.95);
        z-index: 99;
        transition: .3s ease;
    }

    .burger_menu{
        z-index: 9999;
    }

    header .container .menu .menu_items_container .menu_items{
        display: block;
        width: 100%;
    }

    header .container .menu .menu_items_container .menu_items li{
        margin-right: 0;
        text-align: center;
    }

    header .container .menu .menu_items_container .menu_items li a{
        font-size: calc(16px + 6 * (100vw / 1780));
        padding: calc(15px + 10 * (100vw / 1780)) 0;
        display: block;
    }
    

    header .container .menu .menu_items_container.show{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .container .menu .menu_items a::after{
        bottom: 6px;
        left: 50%;
    }

    header .container .menu .menu_items a:hover::after{
        left: 0;
    }
}


@media (max-width: 900px) {

    .arrows_container img:hover{
        opacity: 1;
    }

    .certain_artefact .descr_arrows{
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .certain_artefact .descr_arrows .arrows_container{
        margin-bottom: 50px;
    }

    .our_team .team_members_container{
        grid-template-columns: 1fr 1fr;
    }

    .share_archives .form_contacts_container{
        grid-template-columns: 1fr;
    }
    .share_archives::after{
        display: none;
    }

    .share_archives .form_contacts_container .contacts_container{
        padding: 0;
    }

    .share_archives .form_contacts_container .contacts_container .contacts_item{
        margin-bottom: 25px;
    }
}

@media (max-width: 700px) {

    .certain_artefact .button{
        width: 100%;
        text-align: center;
    }

    .certain_artefact .artefact_slider .swiper-wrapper .swiper-slide{
        /* width: 75%; */
    }

    .artefacts_by_mueum .artefacts_container .artefact_pic{
        width: calc( 100% - 40px);
        min-height: calc(150px + 150 * (100vw / 1780));
    }
        
    .artefacts_by_mueum .artefacts_container  .double_height{
        min-height: calc(150px + 150 * (100vw / 1780));
    }

    footer .container{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    footer #vk_groups1, footer #vk_groups2, footer #vk_groups3, footer #vk_groups4{
        grid-column: 1 / 2;
        margin-left: -15px;
        width: calc(100% + 15px)!important;
    }


    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .timetabs_arrows{
        display: none;
    }
    .slider_container .swiper-slide .descr_item_container .museum_year_container a{
        display: none;
    }

    .slider_container .swiper-slide .images_container {
        height: calc(350px + 100 * (100vw / 1780));
    }

    .slider_container .our_artefacts_slider .swiper-slide {
        width: 75%;
    }

    .slider_container .our_artefacts_slider .swiper-slide .images_container .item_pic{
        border-radius: 5px;
    }

    .our_artefacts .container{
        padding-left: 15px;
        padding-right: 0;
    }

    .our_artefacts .button{
        width: calc(100% - 20px);
        text-align: center;
    }

    .slider_container .swiper-slide .descr_item_container{
        padding: 0 20px;
        bottom: 20px;
    }

    .share_archives .form_contacts_container form{
        grid-gap: 20px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .our_team .team_members_container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .share_archives .form_contacts_container form{
        grid-template-columns: 1fr;
    }

    .share_archives .form_contacts_container form input{
        grid-column: 1 / 3;
        width: 100%;
    }
}